*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.inicio{

    border: 20px;
}
.body-b{
    font-family: 'Roboto', sans-serif;
    /* background: url("../img/gym1.jpg") center center/cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: color; */
    background-color: #0d1117;
    width: 100%;
    min-height: 80vh;
}
.body-branco{
    background: white;

}
.home{
    text-align: left;
    margin-left: 30px;
}
/* UTILS */

.row1{
    border-left: 60px;
}

.bg-fundo
{
    background-color: #161b22  !important;
    color: white;

}
/* NAVBAR */
.logo{
    height: 60px;
    width: auto;
    padding: 2px;
    cursor: pointer;
    border: none; /* TIRA AS BORDAS*/
    border-radius: 15px; /* ARRENDAMENTO*/
}
/* tbody{
    border: 1px solid;
} */
table{

    text-align: center;
    color: white;
}


.btn-padrao{
    background-color: #112026 !important;
    padding: 80px; /* ESPACO INTERNO - 15 EM CIMA E BAIXO, 50 NO LADOS*/
    border: none; /* TIRA AS BORDAS*/
    border-radius: 10px; /* ARRENDAMENTO*/
    letter-spacing: 1px; /* ESPAÇO ENTRE AS LETRAS*/
    font-weight: bold;
    transition: all 300ms ease;
    color: white;
    font-size:medium;
    margin: 20px;
}
.cd-aluno{
    align-items: right;
}
.btn-confirmar{
    background-color: #CBF229 !important;
    padding: 10px 25px; /* ESPACO INTERNO - 15 EM CIMA E BAIXO, 50 NO LADOS*/
    border: none; /* TIRA AS BORDAS*/
    border-radius: 10px; /* ARRENDAMENTO*/
    letter-spacing: 1px; /* ESPAÇO ENTRE AS LETRAS*/
    font-weight: bold;
    color: white;
    font-size:medium;
}

.card-inicio{
    background-color: #112026 !important;

    border-radius: 1px solid;
    align-items: center;
    padding: 50px;

    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    box-shadow: 5px 5px 5px 5px rgb(174, 241, 50);
}

.btn-deletar{
    background-color: #912525 !important;
    padding: 10px 25px; /* ESPACO INTERNO - 15 EM CIMA E BAIXO, 50 NO LADOS*/
    border: none; /* TIRA AS BORDAS*/
    border-radius: 10px; /* ARRENDAMENTO*/
    letter-spacing: 1px; /* ESPAÇO ENTRE AS LETRAS*/
    font-weight: bold;
    color: white;
    font-size:medium;
}

.btn-home:hover{
    background: green;
    cursor: pointer;
}
.bg-nav{
    padding: 10px;
    color: #161b22 ;
}

.alinhado{
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    text-align: center;
}
.alinhado_ne{
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    text-align: center;

}

.ul{
    display: flex;
    list-style: none;
    color:black;

}
ul li:nth-child(3){
    border-right: 0.1px solid black;
    align-items: right;
}
.color{
    color: white;
}
li{
    padding: 0 20px;
    transition: all 300ms ease;
    font-weight: bold;
    align-items: right;
    color:white;
}
.nav-body{
    margin-right: 80px;
}

a{
    color: #7ed829;
}
.nav-logo{
    margin-left: 200px;
    font-weight: bold;
    color: black;
}
.nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 0;
}


.main-inicial{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 40px;
}

.main-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo-home{
    height: 200px;
    width: auto;
    padding-bottom: 20px;

}


.h2-h{
    font-size: 5rem;
}
.p-p{
    margin: 20px;
    font-size: 1.4rem;
 
}


.footer-inicial{
    display: flex;
    color: black;
    justify-content: center;
    width: 100%;
    padding: 10px 0;



}

.footer-conteudo{
    display: flex;
    margin: auto;

}

.p-item{
    margin: 5px 0;
    font-size: 1rem;

}


/*formulario*/

.form-inicial{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 40px;
}

.conteudo{
    color: black;
    background-color: white;
    border-radius: 10px;
    box-shadow:  0  2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 80%;
}



.conteudo h2{
    font-size: 2rem;
}

.form-cabeca{
    color: white;
    padding: 20px;
    text-align: center;

}

.formulario{
    padding: 20px;
}

.form-controle{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-controle label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-controle input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}


.formulario button{
    color: white;
    background-color: rgb(44, 46, 45);
    border: 0;
    width: 100%;
    border-radius: 5px;
    padding: 15px;
    font-weight: bold;
}
.sub-titulo{
    color: gray;
}

.scroll {
    height: 400px;
    overflow-y: auto;
}
.scroll1 {
  height: 500px;
  overflow-y: auto;
}



.informacoes_basicas{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    margin: 1px;
    border-radius: 10px;
    box-shadow:  0  2px 5px rgba(0, 0, 0, 0.3);
    margin-left: 1%;
  
    


}
.informacoes{
    display: flex;
    justify-content: center;
    align-items: center;

  
    


}
.informacoes_basicas1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 70px;
    margin: 1;

    margin-left: 1%;
    
    


}

.icone{
    color: #1b1b1b;
    width: 40px;
 

}
.wrapper {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box {
    
    width: 70vw;
    background-color: #112026;
    /* background: rgb(187, 110, 110); */
    box-shadow: 5px 5px 5px 5px rgb(158, 240, 27);
    text-align: center;
    color: white;
    margin-bottom: 50px;
}
.box-home{
    
    width: auto;
    padding: 40px;
    /* background: rgb(187, 110, 110); */
    box-shadow: 5px 5px 5px 5px rgb(158, 240, 27);
    text-align: center;
    color: white;
    align-items: center;
    margin-bottom: 50px;
}
.header-box{

    padding: 25px;

}
.home-titulo{
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 0;
}
.home-paragrafo{
    font-weight: bold;
}
.card-home{
    background-color: #112026;
    padding: 0;
    border: 0;
    margin: 15px;
}
.borda-box{
    border-top: 1px solid black;
}

.body-box{
    padding: 30px;
    align-items: center;
}
.tabela{
    width: 100%;
    margin-top: 20px;
    color: white;

}
.tabela-treino{
    width: 100%;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    background-color: #EDE6E6;

    text-align: center;
  


}
.tabela-linha{
    background-color: #EDE6E6;
}

.btn-excluir{
    text-decoration: none;
    color: white;
    background-color: #7D2948;
    padding: 10px;
    border-radius: 10px;

}

.label{
    text-align: left;
}
