{% extends 'base.html' %}

{% block titulo %}ALUNOS{% endblock titulo %}

{% block conteudo %}

<div class="wrapper">
    <div class="box"> 
        <div class="header-box">
            <h2 class="titulo">ALUNOS</h2>
            {% if messages %}
            <br>
            {% for message in messages %}
                <div class="alert {{message.tags}}">
                {{message}}
                </div>
            {% endfor %}
        {% endif %}
            {% comment %} <button type="button" class="btn btn-conteudo bg-fundo" data-toggle="modal" data-target="#modal">
                NOVO PREGÃO
            </button>    
        br        </div> {% endcomment %}
        <br>
        <br>

        <div class="borda-box"></div>
        <div class="body-box">
            <div class="row align-top"> 
                {% for aluno in alunos %}
                <div class="card col-md-2 card-real">
                
                    <div class="card-header card-om">
                        <img src="#" height="150" width="100" class='card-img-'>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{aluno.nome}}</h5>
                         
                    </div>
                </div>
                {% endfor %}
            </div> 
        </div>


        

    </div>
</div>
{% endblock conteudo %}