{% extends 'base.html' %}

{% block titulo %}
ALUNOS
{% endblock titulo %}

{% block conteudo %}
<div class="wrapper">
    <div class="box"> 
        <div class="header-box">
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
       
            <div class='row cd-aluno'>

                <div class='col-md'>
                    <h2 class="titulo">ALUNOS</h2>

                </div>
                <div class='col-md'>
                    <button type="button" class="btn-confirmar" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        CADASTRAR ALUNO
                      </button>
                

                </div>
            </div>
        </div>
        <div class="borda-box"></div>
        <div class="body-box">
        
            <form action='#' method='GET'> {% csrf_token %}
            <div class="row">
                
                    <div class="col-md-5">
                        <input type="text" placeholder="Busque pelo nome" class="form-control" name="nome">
                    </div>

                    {% comment %} <div class="col-md-4">
                        <select class="form-select" name="tecnologias">
                            <option value="">---------</option>
                            {% for tech in tecnologias %}
                            <option value="{{ tech.id }}">{{ tech }}</option>
                            {% endfor %}
                        </select>
                    </div> {% endcomment %}
                
                <div class="col-md-3">
                    <input type="submit" value="FILTRAR" class="btn btn-lg btn-confirmar">
                </div>
            </div>
            </form>

            <table class="table tabela" cellpadding="20">
                <tr>
                    <th>NOME</th>
          
                    <th>EMAIL</th>
                    <th>TELEFONE</th>

                </tr>

                    {% for i in alunos  %}
                    <tr>
                        <td><a href="{% url 'aluno' i.id%}">{{i.nome}}</a> </td>
                     
                        
                        <td>{{i.email}}</td>
                        <td>{{i.telefone}}</td>
                        {% comment %} <td>
                            <select class="form-select">       
                                {% for tech in empresa.tecnologias.all %}
                                <option>{{ tech }}</option>                    
                                {% endfor %}
                            </select>
                        </td> {% endcomment %}
                        {% comment %} <td>{% if empresa.qtd_vagas %}
                            <img src="{% static 'empresa/img/flag_green.png'%}" alt="">
                            {% else %}
                            <img src="{% static 'empresa/img/flag_red.png'%}" alt="">
                            {% endif %}
                            {{ empresa.qtd_vagas}}
                        </td> {% endcomment %}

                    </tr>
                    {% endfor %}
            </table>
        </div>


        

    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">NOVO ALUNO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action='{% url "cadastro_aluno"%}' method="POST" enctype='multipart/form-data'> {% csrf_token %}
        <div class="modal-body">
            <label for="">Nome: </label>
            <div >
                <input type="text" placeholder="Nome do aluno" class="form-control" name="nome">
            </div>
            <br>
            <label for="">Sexo: </label>
            <div >

                <select name="sexo" id="" class='form-control'>
                    <option value="M">MASCULINO</option>
                    <option value="F">FEMININO</option>

                </select>
            </div>
            <br>
            <label for="">Data de Nascimento: </label>
            <div >
                <input type="date" placeholder="Data de nascimento" class="form-control" name="nascimento">
            </div>
            <br>
            <label for="">Email: </label>
            <div >
                <input type="email" placeholder="Email do aluno" class="form-control" name="email">
            </div>
            <br>
            <label for="">Telefone: </label>
            <div >
                <input type="number" placeholder="Telefone do aluno" class="form-control" name="telefone">
            </div>
            <br>
            
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">SAIR</button>
          <button type="submit" class="btn btn-primary">CADASTRAR</button>
        </div>
    </form>
      </div>
    </div>
  </div>
{% endblock conteudo %}