{% extends 'base.html' %}

{% block titulo %}
ALUNOS
{% endblock titulo %}

{% block conteudo %}
<div class="wrapper">
    <div class="box"> 
        <div class="header-box">
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
       
            <div class='row cd-aluno'>

                <div class='col-md'>
                    <h2 class="titulo">Lista de exercícios de {{i}}</h2>

                </div>
                <div class='col-md'>
                    <button type="button" class="btn-confirmar" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        NOVO EXÉRCICIO 
                      </button>
                

                </div>
            </div>
        </div>
        <div class="borda-box"></div>
        <div class="body-box">
            <table class="table tabela" cellpadding="20">
                <tr>
                    <th>EXÉRCICIO</th>
                    <th>AÇÕES</th>
                </tr>
                    {% for i in exercicios %}
                    <tr>
                        <td>{{i.nome}}</td>
                        <td>
                            <button type="button" class="btn-close" ></button>
                            <button type="button" class="btn-close" ></button>

                        </td> 
                    </tr>
                    {% endfor %}
            </table>
        </div>     
    </div>
</div>

<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">NOVO EXÉRCICIO</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action='{% url "cadastro_exercicio"%}' method="POST" enctype='multipart/form-data'> {% csrf_token %}

        <div class="modal-body">
            <label for="">EXERCÍCIO: </label>
            <br>
            <div >
                <input type="text" placeholder="Digite o exercício" class="form-control" name="exercicio">
            </div>
            <br>
            <label for="">MUSCULO: </label>
         
            <div >
           
                <select class="form-select" name='musculo'>       
               
                    <option value='{{i.id}}'>{{ i.nome }}</option>                    
                  
                </select>
            </div>
            
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">SAIR</button>
          <button type="submit" class="btn btn-primary">CADASTRAR</button>
        </div>
    </form>
      </div>
    </div>
  </div>
{% endblock conteudo %}