{% extends 'base.html' %}

{% block conteudo %}

<main class="main-inicial">

        <div class='row'>
                <a href="{% url 'alunos'%}">
                    <div class="card-inicio">         
                        <h5>ALUNOS</h5>
                    </div>
                </a>
                
                <a href="#">
                    <div class="card-inicio">         
                        <h5>LISTA DE EXÉRCICIOS</h5>
                    </div>
                </a>
                
        

        </div>
        <div class='row'>
 
            <a href="#">
                <div class="card-inicio">         
                    <h5>MONTE O TREINO</h5>
                </div>
            </a>
            
            <a href="#">
                <div class="card-inicio">         
                    <h5>AVALIAÇÃO</h5>
                </div>
            </a>
            
        </div>

</main>

{% endblock conteudo %}