{% extends 'base.html' %}

{% block conteudo %}




<main class="container main-inicial">
    <section class="main-conteudo">
        <h2 class='h2-h'>GYM HARD</h2>
        
        <p class='p-p'>PERSONAL ONLINE</p>
        <div class="row">  
            <div class='col-md'>
                <a class='a-a' href="{% url 'alunos' %}"><button class="btn-padrao">ALUNOS</button></a> 
            </div>       
            <div class='col-md'>
                <a class='a-a' href="#"><button class="btn-padrao">AVALIAÇÃO</button></a> 
            </div>       
            </div>       
        </div>
        <div class="row">  
            <div class='col-md'>
                <a class='a-a' href="{% url 'grupos'%}"><button class="btn-padrao">EXERCÍCIOS</button></a> 
            </div>       
            <div class='col-md'>
                <a class='a-a' href="#"><button class="btn-padrao">MONTE O TREINO</button></a> 
            </div>       
            </div>       
        </div>
        
    </section>
</main>


{% endblock conteudo %}