{% extends 'base.html' %}
{% load static %}
{% block conteudo %}

<div class="wrapper">


    <div class='box-home'>
        <div class="header-box">
           <div class='home-titulo'>GYM HARD</div>
           <div class='home-paragrafo'>PERSONAL ONLINE</div>

        </div>

        <div class="body-box">
            <div class="row">
                
                <div class="card card-home" style="width: 15rem;">
                    <a href="{% url 'alunos'%}">
                        <img src="{% static 'plataforma/img/teste.png'%}" class="card-img-top" width='20' height='150' alt="...">

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">ALUNOS</h5>
                    </div>
                </div>
                <div class="card card-home" style="width: 15rem;">
                    <a href="{% url 'alunos'%}">
                        <img src="{% static 'plataforma/img/teste.png'%}" class="card-img-top" width='20' height='150' alt="...">

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">AVALIAÇÃO</h5>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="card card-home" style="width: 15rem;">
                    <a href="{% url 'grupos'%}">
                        <img src="{% static 'plataforma/img/teste.png'%}" class="card-img-top" width='20' height='150' alt="...">

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">EXERCÍCIOS</h5>
                    </div>
                </div>
                <div class="card card-home" style="width: 15rem;">
                    <a href="{% url 'ficha_treino'%}">
                        <img src="{% static 'plataforma/img/teste.png'%}" class="card-img-top" width='20' height='150' alt="...">

                    </a>
                    <div class="card-body">
                        <h5 class="card-title">FICHA DE TREINO</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock conteudo %}